* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: rgb(24, 24, 24);
    color: white;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 230px;
    width: 230px;
    margin: 6px 3px;
    cursor: pointer;
}

.yellow {
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    background-color: green;
    border-top-right-radius: 100%;
}

.purple {
    border-top-left-radius: 100%;
    background-color: purple;
}

.blue {
    border-bottom-right-radius: 100%;
    background-color: blue;
}

.center {
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.flash {
    filter: brightness(200%);
    box-shadow: 2px 2px 40px #ffffff;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: default;
}

h2 {
    height: 75px;
}

#start {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: contents;
}

#start img {
    height: inherit;
    width: inherit;
}

#start:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.inactive {
    pointer-events: none;
    opacity: 0.5;
}

@media (max-width:600px) {
    .btn {
        height: 150px;
        width: 150px;
        cursor: pointer;
    }

    .center {
        height: 120px;
        width: 120px;
    }
    h2{
        font-size: 18px;
    }
}